@(clusterers: Seq[String])

@main("Welcome to Play") {

    <form action="kmeans" method="get">
        <table>
            <tr>
                <td>
                    <label for="kInput">K:</label>
                </td>
                <td>
                    <input name="k" id="kInput" type="text" value="3"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pointsInput">Points:</label>
                </td>
                <td>
                    <input name="nPoints" id="pointsInput" type="text" value="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="clustererInput">Clusterer:</label>
                </td>
                <td>
                    <select name="clustererName" id="clustererInput">
                        @for(clustererName <- clusterers) {
                            <option value="@clustererName">@clustererName</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="Plot"/>
    </form>


}
